

.service-content{
    margin-top:6%;
    text-align: center;
    margin-bottom: 4%;
}

.service-content h3{
    color: rgb(37, 150, 190);
}

.service-card-container{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}

.s-card-img-container{
    height: 80%;
    width:28vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-card-img{
    height: 100%;
    width: 25vw;
    object-fit: cover;
}

.s-card-img:hover{
    filter: brightness(50%);
}

.s-card-heading{
    font-size: x-large;
    font-weight: 550;
    color: rgb(37, 150, 190);
    text-align: center;
}

/* .image-content{
    
    height: 60vh;
    width: 24vw;
    margin: 5.5%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: absolute;
    top: 0;
    text-align: center;
    font-size: larger;
    color: white;
    opacity: 0;

    transition: all 0.4s ease-in-out;
}

.image-content:hover{
    opacity: 1;
} */
