

.service-section-container{
    margin-top: 3%;
    height: 80vh;
    width: 100vw;

    background-image: linear-gradient(rgb(37, 150, 190,0.9),rgba(37, 150, 190,0.9)), url('../../../public/images/ConstructionWorker2.jpg') ;
    background-size: 100% 80%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    /* display: flex; */
    justify-content: center;
    align-items: center;
}
 
.s-section-container-in{

    width: 85%;
    height: 60%;

    margin: auto;

    margin-top: 4%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6,1fr);

    row-gap: 15px;
    column-gap: 5px;

}

.icon-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    
    color: white;
}

.icon-container i{
    font-size: 70px;
    transition: transform 100ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container i:hover{
    transform: translateY(-20%);
}

.s-section-heading{
    text-align: center;
    font-size: larger;
    color:white;
    padding-top: 5%;
}

.icon-container div{
    font-size: x-large;
    font-weight: 500;
}

/* responsive  */

@media only screen and (max-width: 992px) {
    
    .icon-container i{
        font-size: 50px;
        
    }
    .icon-container div{
        font-size: larger;
        font-weight: 500;
    }
    
}
@media only screen and (max-width: 768px) {
    
    .icon-container i{
        font-size: 40px;
        
    }
    .icon-container div{
        font-size: large;
        font-weight: 450;
    }
    .service-section-container{
        height: 60vh;
    }
   
}
@media only screen and (max-width: 658px) {
    
    .icon-container i{
        font-size: 30px;
        
    }
    .icon-container div{
        font-size: medium;
        font-weight: 425;
    }
    
    
}
@media only screen and (max-width: 558px) {
    
    .icon-container i{
        font-size: 25px;
        
    }
    .icon-container div{
        font-size: small;
        font-weight: 415;
    }
    
}




