.homepage{
    height: 100vh;
    width: 100vw;
    color: snow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.coverpage{
    height: 100vh;
    width: 100vw;
    filter: brightness(60%);
    object-fit: cover;
}
.mycontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    position: absolute;
    padding: 0 60px;
    top: 40%;
    font-family: "coolvetica";
}
.h1{
    font-weight: 900;
    font-size: xxx-large;
    text-align: left;
}
.lead{
    font-weight: 600;
}
.btns{
    display: flex;
    color: whitesmoke;
    justify-content: left;
    gap: 1rem;
}   
.home-btn{
    background-color: rgb(	4, 54, 105,0.9);
    border: none;
    color: white;
}
.home-btn:hover{
    background-color: rgba(50, 118, 186, 0.9);
}

@media only screen and (max-width: 890px) {
    .mycontainer{
        top: 30%;
    }
    .btns{
        flex-direction: column;
    }
    .h1{
        font-weight: 900;
        font-size: xx-large;
        text-align: left;
    }
}
@media only screen and (max-width: 596px) {
        .btns{
            display: none;

        }
        .mycontainer{
        top: 30%;
    }
}