@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


.about-us-midSection{
    height: 100vh;
    width: 100%;
    margin-top: 3%;
    text-align: center;

    gap: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
.about-us-midSection > h2{
   width: 60vw;
   font-family: 'Lato', sans-serif;
   font-size: 40px;
   font-weight: 600;
}
.about-us-midSection > p{
   width: 40vw;
   color: rgb(70, 78, 81);
}

.about-us-box{
    display: flex;
    width: 90vw;
    margin-top: 2%;
}

.mid-sec-img-container{
    width: 60%;
}
.mid-sec-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mid-sec-content-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    padding: 0 3%;

}

.mid-sec-content-container p{
    color: rgb(70, 78, 81);
    font-size: large;
}
.mid-sec-content-container h2{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.mid-sec-content-container button{
    width: 50%;
    padding: 1% 0;
    border: 2px solid transparent;
    background-color: rgb(37, 150, 190);
    color: white;
}
.mid-sec-content-container button:hover{
   
    border: 2px solid rgb(37, 150, 190);
    background-color: transparent;
    color: black;
}

/* responsive */

@media only screen and (max-width: 1024px) {

    .about-us-midSection > h2{
        width: 80vw;
     }
     .about-us-midSection > p{
        width: 60vw;
        
     }

    .mid-sec-content-container p{
        font-size: small;
    }


}
@media only screen and (max-width: 800px) {

    .about-us-midSection > h2{
        width: 90vw;
     }
     .about-us-midSection > p{
        width: 80vw;
        
     }
     .mid-sec-content-container h2{
        font-size: large;
    }



}
@media only screen and (max-width: 550px) {

    .about-us-midSection{
        height: 130vh;
        
    }
    .about-us-box{
        flex-direction: column;
        gap: 5%;
    }
    .mid-sec-img-container{
        width: 100%;
    }
    .mid-sec-content-container{
        width: 100%;
    }
    
    .mid-sec-content-container h2{
        font-size: x-large;
    }
    .mid-sec-content-container p{
        font-size: larger;
    }
}