.Footer{
    background-image: linear-gradient(rgb(12, 28, 36),rgba(12, 28, 36,0.9)), url('../../../public/images/waterproofingBackground.jpg') ;
    padding: 3vh 3vw;
    display: flex;
    justify-content: center;
    width: 100vw;
    color: whitesmoke;
    gap: 2rem ; 
}

ul{
    list-style-type: none;
}
.fst, .snd{
    display:flex;
    gap: 3rem;
    width: 50vw;
}

.logo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.links{
    display: flex;
    justify-content: left;
    gap: 1rem;
    font-size: x-large;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.footerLi > li:not(:first-of-type) {
    margin-top: 1.2em;
}

.footerLi >li:not(:last-of-type) {
    margin-bottom: 1.2em;
}

.fst > div{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: left;
}

@media only screen and (max-width: 978px) {
     .fst,.snd{
        display: block;
        padding: 5px 5px;
     }
}
@media only screen and (max-width: 550px) {
     .Footer{
        display: block;
        padding: 5px 5px;
     }
}