.Footer{
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    background-color:black ;
    width: 100vw;
    color: whitesmoke;
    gap: 2rem ;
}
.fst, .snd{
    display:flex;
    gap: 3rem;
}

.links{
    display: flex;
    justify-content: left;
    gap: 1rem;
    font-size: x-large;
}

@media only screen and (max-width: 780px) {
     .fst,.snd{
        display: block;
        padding: 5px 5px;
     }
}
@media only screen and (max-width: 500px) {
     .Footer{
        display: block;
        padding: 5px 5px;
     }
}